# Dependencies
**/node_modules
**/.pnp
**/.pnp.*
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/sdks
!**/.yarn/versions

# Build
frontend/.next/
frontend/out/
frontend/build/
backend/build/
backend/dist/

# Environment
.env*
!.env.example

# Misc
.DS_Store
*.pem
*.log
.cache
.tmp
.idea
.vscode
*.swp
*.swo

# Strapi specific
backend/.strapi
backend/.strapi-updater.json
backend/license.txt
backend/exports
backend/public/uploads/*
!backend/public/uploads/.gitkeep

# Database
*.sqlite*
*.db

# Testing
**/coverage